div#login__form {
    width: 582px;
    background: #2F2F2F;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
}

div#login__form .login__header h4 {
    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #00CC99;
}

.login__header {
    display: flex;
    justify-content: space-between;
}

.login__input__area .login__google button {
    width: 100%;
    height: 30px;
    background-color: #C4C4C4;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
    border-radius: 8px;
    outline: none;
}

.login__google {
    display: flex;
    color: #000;
}

.login__input__area .login__google button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

}

.login__input__area .login__google button p {
    margin-bottom: 0;
}

.login__input__area .login__google button img {
    width: 18px;
    margin-right: 6px;
}

.login__input__area .login__input {
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
}

.login__input__area .login__input input {
    width: 50%;
    border: 1px solid #828282;
    background-color: transparent;
    padding: 5px;
    border-radius: 8px;
}

.login__input__area .login__input input:nth-child(1) {
    margin-right: 8px;
}

.login__input__area .login__input input::placeholder {
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #828282;
    padding-left: 12px;
}

#login__form .login__input__area .rember {
    display: flex;
    margin-top: 19px;
    align-items: center;
}

#login__form .login__input__area .rember input[type="checkbox"] {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 2px;
    background: transparent;
}

#login__form .login__input__area .rember p {
    color: #828282;
    margin-bottom: 0;
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 10px;
}

.login__input__area {
    margin-top: 48px;
}

.login__btn {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.btn__login {
    color: #00CC99;
    border: 1px solid #00CC99;

    text-align: center;
    margin-left: 10px;
    border-radius: 8px;
}

.btn__login button {
    background-color: transparent;
    border: none;
    color: #00CC99;
    margin: auto;
    padding: 3px;
    width: 160px;
    cursor: pointer;
}

.btn__login button:hover {
    background-color: #00CC99;
    color: #000;
}

@media(max-width:767px) {
    div#login__form {
        width: auto;
        border-radius: 0;
    }

    .close__ic__login {
        display: none;
    }

    .login__input__area {
        margin-top: 10px;
    }
    .login__input__area .login__input{
        margin-top: 10px;
    }
    .login__input__area .login__input{
        display: inline-block;
    }
    .login__input__area .login__input input{
        width: 100%;
    }
    .login__input__area .login__input input:nth-child(1){
        margin: 0;
    }
    .login__input__area .login__input input:nth-child(2)
    {
        margin-top: 10px;
    }
}