* {
	padding: 0;
	margin: 0;
}


body {
	font-family: 'Open Sans', sans-serif;
	background: #505050;
}

@font-face {
	font-family: Sinisuka;
	src: url(../Fonts/sinisuka-webfont.woff);
	src: url(../Fonts/sinisuka-webfont.woff2);
}

.bg-pages {
	background-repeat: no-repeat;
}


/* Welcome Area */


#Welcome__Aera .section-title h3 {
	font-family: Sinisuka, sans-serif;
	font-size: 67px;
	font-style: normal;
	font-weight: 400;
	line-height: 133px;
	letter-spacing: 0em;
	text-align: center;
	color: #fff;
	margin-bottom: 47px;
}

#Welcome__Aera .section-title p {
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: center;
	color: #fff;
	margin-bottom: 66px;
}

#Welcome__Aera .welcome__slider__section .owl-carousel {
	text-align: center;
}

#Welcome__Aera .welcome__slider__section .owl-carousel .item .slider__img {
	margin-bottom: 25px;
}

#Welcome__Aera .welcome__slider__section .owl-carousel .item .slider__content h1 {
	color: #fff;
	font-family: Roboto;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: 42px;
	letter-spacing: 0em;
	text-align: center;

}

#Welcome__Aera .welcome__slider__section .owl-carousel .item {
	margin-left: 40px;
}

#Welcome__Aera .welcome__slider__section .owl-carousel .item .slider__content p {
	color: #C4C4C4;
	margin-bottom: 25px;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: center;

}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
	display: block;
}



.owl-nav.disabled button.owl-prev {
	position: absolute;
	top: 17%;
	left: -70px;
	color: #fff;
	font-size: 55px;
}

.owl-nav.disabled button.owl-next {
	position: absolute;
	top: 17%;
	right: -70px;
	font-size: 55px;
	color: #fff;
}

.owl-nav.disabled button.owl-prev:focus,
.owl-nav.disabled button.owl-next:focus,
.owl-nav.disabled button.owl-prev:hover,
.owl-nav.disabled button.owl-next:hover {
	outline: none;
	background-color: transparent;
}

#Welcome__Aera {
	padding: 95px;
}

/* Tabe Area */
.tab__area_text {
	padding: 96px;
}


.page-next-level {
	text-align: center;
}

.page-next-level h4 {
	font-family: Sinisuka;
	font-size: 42px;
	font-style: normal;
	font-weight: 400;
	line-height: 65px;
	letter-spacing: 0em;
	text-align: center;

}

#tab__area nav .nav-tabs .nav-link {
	font-family: Segoe UI;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
	padding: 8px 32px;
}

#tab__area .nav-tabs .nav-link.active {
	background: transparent;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #fff;
}

#tab__area nav .nav-tabs .nav-link:hover {
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #fff;
}

#tab__area .tab__area__content {
	padding: 25px 0;
}

#tab__area .tab__area__content {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #bdbdbd;
}

#tab__area .tab__area_space {
	padding: 40px 0;
}

#tab__area .tab__area__content .tab__area_menu__item h1 {
	font-family: Segoe UI;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
	color: #00CC99;
}

#tab__area .tab__area__content .tab__area_menu__item p {
	font-family: Segoe UI;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
}

#tab__area .tab__area__content .tab__area__price {
	font-family: Segoe UI;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
	color: #00CC99;
}

#tab__area .tab__content__container {
	padding: 40px 0;
}

#client__area .tab__area_text .page-next-level h4 {
	font-family: Sinisuka;
	font-size: 42px;
	font-style: normal;
	font-weight: 400;
	line-height: 65px;
	letter-spacing: 0em;
	text-align: center;
	margin-bottom: 36px;
}

/* Boottom SLider */
.mani__clinet__area__slider .media img {
	width: 40px;
}

.mani__clinet__area__slider .clinet__rating {
	width: 20px;
	display: flex;
}

.mani__clinet__area__slider .media-body p {
	margin-bottom: 0;
	text-align: left;
}

.mani__clinet__area__slider .media-body {
	padding-left: 15px;
}

.mani__clinet__area__slider .clinet__rating {
	width: 20px;
	display: flex;
	margin: 13px 0 20px 0;
}

.mani__clinet__area__slider p.clinet__review {
	text-align: left;
}

.mani__clinet__area__slider {
	background: #2C2C2C;
	opacity: 0.8;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	padding: 15px;
}

#client__area .owl-nav.disabled button.owl-prev,
#client__area .owl-nav.disabled button.owl-next {
	color: #00CC99;
}

/* Map  */
#map__area {
	padding: 80px 0 26px 0;
}

#map__area .map__icon {
	display: flex;
	align-items: center;
}

#map__area .map__icon p {
	font-family: Segoe UI;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 34px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
	margin: 0;
	padding-left: 15px
}

.maps__area__iframe iframe {
	width: 100%;
	height: 465px;
}

/* footer */
#footer {
	padding: 37px;
	position: relative;
	background-color: #000;
}

#footer .footer__logo {
	text-align: center;
	margin-bottom: 37px;
}

#footer .footer__link ul {
	list-style: none;
	display: flex;
	justify-content: center;
}

#footer .footer__link ul li {
	padding-left: 38px;
}

#footer .footer__link ul li a {
	font-family: Segoe UI;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
}

#footer form.subscribe_form input {
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 8px;
	background-color: transparent;
	width: 100%;
	max-width: 255px;
	border-radius: 5px 0 0 5px;

}

#footer form.subscribe_form span.input-group-btn button {
	border-radius: 0 5px 5px 0;
}



#footer .footer-bottom form {
	border: 1px solid #e7e7e7;
	position: relative;
	border-radius: 5px;
	width: 255px;
}



#footer .footer-bottom form input,
#footer .footer-bottom form input:focus {
	border: none;
	background: transparent;
	box-shadow: inherit;
	min-height: 40px;
	padding-left: 25px;
	font-size: 14px;
	color: #828282;
}

#footer .footer-bottom form button {
	position: absolute;
	right: 0;
	top: -5px;
	height: 50px;
	width: 50px;
	border: none;
	color: #fff;
	border-radius: 50%;
	background-color: transparent;
}




#footer .footer-bottom h4 {
	margin: 0;
	font-weight: 600;
	line-height: 45px;
}

#footer .footer-bottom h4 i {
	font-size: 30px;
	align-items: center;
	margin-right: 5px;
	color: #ff3514;
	position: relative;
}

#footer .footer-bottom .footer__bottom__main {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#footer .footer__button a {
	width: 80px;
	border: 1px solid #00CC99;
	padding: 8px 23px;
	color: #fff;
	border-radius: 8px;
	text-decoration: none;
	font-family: Segoe UI;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;
	margin-right: 22px;
}

#footer .footer__button a:hover {
	color: #000;
	background: #00CC99;
}

#footer .footer__copyright p {
	margin-bottom: 0;
	font-family: Segoe UI;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: center;
	color: #828282;

}

.mobile__footer {
	display: none;
}

@media(max-width:1199px) {
	#tab__area nav .nav-tabs .nav-link {
		font-size: 16px;
		padding: 8px 8px;
	}

	#tab__area nav .nav-tabs {
		display: flex;
		justify-content: center;
	}
}

@media(max-width:991px) {
	#Welcome__Aera .section-title h3 {
		font-size: 40px;
		margin-bottom: 0;
	}

	#Welcome__Aera {
		padding: 30px;
	}
}

@media(max-width:767px) {
	#Welcome__Aera .welcome__slider__section .owl-carousel .item {
		margin: 0;
	}

	#Welcome__Aera .section-title h3 {
		font-size: 21px;
		line-height: 46.77px;
	}

	#Welcome__Aera .section-title p {
		margin-bottom: 30px;
		font-size: 14px;
		line-height: 24px;
	}

	#tab__area .tab__area_text {
		padding: 62px;
	}

	#tab__area .page-next-level h4 {
		font-size: 23px;
	}

	#tab__area nav .nav-tabs {
		width: 902px;
	}

	#tab__area nav {
		overflow-x: scroll;
		padding-right: 15px;
		padding-left: 15px;
	}

	#tab__area .tab__area__content {
		display: block;
		text-align: center;
	}

	#tab__area .tab__area__content .tab__area_menu__item h1 {
		text-align: center;
	}

	#tab__area .tab__area__content .tab__area_menu__item p {
		text-align: center;
	}

	#tab__area .tab__area__content .tab__area__price {
		text-align: center;
	}

	#tab__area .tab__content__container {
		padding: 0;
	}

	#tab__area nav .nav-tabs {
		justify-content: space-between;
	}

	#tab__area nav .nav-tabs .nav-link {
		margin: 0 15px;
	}

	.tab__area_text {
		padding: 15px;
	}

	#map__area .map__icon p {
		font-family: Segoe UI;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px;
		letter-spacing: 0em;
		text-align: left;
	}

	#client__area .tab__area_text .page-next-level h4 {
		font-size: 23px;
		margin-bottom: 0;
	}

	.desktop__footer {
		display: none;
	}

	.mobile__footer {
		display: block;
	}

	#footer {
		padding: 15px;
		padding-top: 40px;
	}

	#footer .footer__link ul {
		display: block;
	}

	#footer .footer__link ul li {
		padding-left: 0;
		padding-bottom: 25px
	}

	#footer .footer__logo {
		margin-bottom: 20px;
	}

	section#footer .side_logo .right__footer .footer__button a {
		width: 80% !important;
		padding: 8px 14px !important;
		margin-left: 0 !important;
		display: block;
		text-align: center;
		margin-left: auto;
	}

	section#footer .side_logo .right__footer .footer__button a:nth-child(1) {
		margin-bottom: 15px;
	}

	.side_logo .footer__cart__icon img {
		height: 40px;
		width: 40px;
		border: 1px solid #fff;
		padding: 7px;
		border-radius: 7px;
		margin-top: 20px;
	}

	.subscribe-form {
		border: 1px solid #e7e7e7;
		position: relative;
		border-radius: 5px;
		width: 255px;
	}

	.subscribe-form input,
	.subscribe-form input:focus {
		border: none;
		background: transparent;
		border: none;
		background: transparent;
		box-shadow: inherit;
		min-height: 40px;
		padding-left: 25px;
		font-size: 14px;
		color: #828282;
	}

	.subscribe-form button {
		position: absolute;
		right: 0;
		top: -5px;
		height: 50px;
		width: 50px;
		border: none;
		color: #fff;
		border-radius: 50%;
		background-color: transparent;
	}

	.copy__footer__mobile {
		display: block;
		font-family: Segoe UI;
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: 19px;
		letter-spacing: 0em;
		text-align: center;
		margin: auto;
		padding-top: 10px;
		color: #828282;
	}

	#footer .footer__logo {
		text-align: left;
	}

	.mobile__footer>.row {
		justify-content: space-between;
	}

	.side_logo .footer__loo {
		margin-bottom: 20px;
	}
}